<form [formGroup]="rForm" (submit)="submit()">

    <mat-form-field>
        <mat-label>Centro educativo</mat-label>
        <mat-select [compareWith]="compareInstitution"
        name="institution"
        formControlName="institution"
      >
        <mat-option [value]="institution" *ngFor="let institution of institutions">
          {{ institution.name }}</mat-option
        >
      </mat-select>
        <mat-error *ngIf="rForm.get('institution').hasError('required')">El centro educativo es obligatorio</mat-error>
      </mat-form-field>


      <mat-form-field>
          <mat-label>Familia profesional</mat-label>
          <mat-select
          name="category"
          formControlName="category"
          [compareWith]="compareCategory"
        >
          <mat-option [value]="category" *ngFor="let category of categories">
            {{ category.name }}</mat-option
          >
        </mat-select>
          <mat-error *ngIf="rForm.get('category').hasError('required')">La familia es obligatoria</mat-error>
        </mat-form-field>
  
        <mat-form-field>
            <mat-label>Nivel</mat-label>
            <mat-select [compareWith]="compareGrade"
            name="grade"
            formControlName="grade"
          >
            <mat-option [value]="grade" *ngFor="let grade of grades">
              {{ grade.name }}</mat-option
            >
          </mat-select>
            <mat-error *ngIf="rForm.get('grade').hasError('required')">El nivel es obligatorio</mat-error>
          </mat-form-field>
        
          <mat-form-field>
              <mat-label>Título</mat-label>
              <mat-select [compareWith]="compareTitle"
              name="title"
              formControlName="title"
            >
              <mat-option [value]="title" *ngFor="let title of titles">
                {{ title.name }}</mat-option
              >
            </mat-select>
              <mat-error *ngIf="rForm.get('title').hasError('required')">El título es obligatorio</mat-error>
            </mat-form-field>
          
          
  <mat-form-field>
      <mat-label>Fecha de obtención del título</mat-label>
      <input matInput
      type="text"
      name="date"
      formControlName="date"
    />
    <mat-error *ngIf="rForm.get('date').hasError('required')">La fecha es obligatoria</mat-error>
  </mat-form-field>

      <mat-label>Bilingue</mat-label>
      <mat-checkbox
      name="bilingue"
      formControlName="bilingue">
    </mat-checkbox>

    <mat-label>Dual</mat-label>
    <mat-checkbox
    name="dual"
    formControlName="dual">
  </mat-checkbox>


  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
