<section id="info-personal">
  <div id="info-70">
    <div class="foto"><img src="assets/{{profile.avatar_hash}}.png" alt="Fotografía estudiante" class="foto"></div>
    <div class="info-70">
      <h1>{{profile.name + " " + profile.surname}}</h1>
    </div>
  </div>

  <div id="info-30">
    <table>
      <tr>
        <td class="impar">Email</td>
        <td>{{profile.email}}</td>
      </tr>
      <tr>
        <td class="impar">Fecha de nacimiento</td>
        <td>{{profile.nacimiento}}</td>
      </tr>
      <tr>
        <td class="impar">Teléfono</td>
        <td>{{profile.telefono}}</td>
      </tr>
      <tr>
        <td class="impar">NIF/NIE</td>
        <td>{{profile.dni}}</td>
      </tr>
      <tr>
        <td class="impar">Permiso de conducir</td>
        <td>{{profile.conducir}}</td>
      </tr>
    </table>
  </div>
  <div id="acerca">
    <table>
      <tr>
        <td class="impar">Acerca de mí...</td>
        <td class="impar">Otras competencias</td>
      </tr>
      <tr>
        <td>{{profile.acercade}}</td>
        <td>{{profile.competencias}}</td>
      </tr>
    </table>
  </div>
</section>
<section class="tablas">
  <div class='formacion-academica'>
    <table>
      <caption>Formación Académica</caption>
      <thead>
        <tr>
          <th scope="col">Nivel</th>
          <th scope="col">Título</th>
          <th scope="col">Centro</th>
          <th scope="col">Fecha</th>
          <th scope="col">Certificado</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let item of profile.studies.entities" class='impar'>
        <td>{{item.level}}</td>
        <td>{{item.title}}</td>
        <td>{{item.institution}}</td>
        <td>{{item.date * 1000 | date:'dd-MM-yyy'}}</td>
        <td>{{item.certificate}}</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class='exp-laboral'>
    <table>
      <caption>Experiencia Laboral</caption>
      <thead>
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Fecha</th>
        <th scope="col">Puesto</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of profile.experiences.entities" class='impar'>
          <td>{{item.company}}</td>
          <td>{{item.date * 1000 | date:'dd-MM-yyy'}}</td>
          <td>{{item.position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='idiomas'>
    <table>
      <caption>Idiomas</caption>
      <thead>
      <tr>
        <th scope="col">Nivel</th>
        <th scope="col">Idioma</th>
        <th scope="col">Fecha</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of profile.languages.entities" class='impar'>
          <td>{{item.level}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date * 1000 | date:'dd-MM-yyy'}}</td>
        </tr>

      </tbody>

    </table>
  </div>

</section>