<form [formGroup]="rForm" (submit)="submit()">
    <mat-form-field>
        <mat-label>Centro educativo</mat-label>
        <input matInput
      type="text"
      name="institution"
      formControlName="institution"
    />
    <mat-error *ngIf="rForm.get('institution').hasError('required')">El centro es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput
      type="text"
      name="title"
      formControlName="title"
    />
    <mat-error *ngIf="rForm.get('title').hasError('required')">El título es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Fecha de obtención del título</mat-label>
      <input matInput
      type="text"
      name="date"
      formControlName="date"
    />
    <mat-error *ngIf="rForm.get('date').hasError('required')">La fecha es obligatoria</mat-error>
  </mat-form-field>

      <mat-label>Bilingue</mat-label>
      <mat-checkbox
      name="bilingue"
      formControlName="bilingue">
    </mat-checkbox>


  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
