<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="50%" >
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Idiomas</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card>

        <form [formGroup]="rForm" (submit)="submit()">


            <mat-form-field>
                <mat-label>Nivel</mat-label>
                <mat-select [compareWith]="compareLevel" name="level" formControlName="level">
                <mat-option [value]="level" *ngFor="let level of languageLevels">
                  {{ level.name }}
                </mat-option>
              </mat-select>
                <mat-error *ngIf="rForm.get('level').hasError('required')">El nivel es obligatorio</mat-error>
              </mat-form-field>

            <mat-form-field>
                <mat-label>Idioma</mat-label>
            <mat-select name="name" formControlName="name" [compareWith]="compareName">
              <mat-option [value]="name" *ngFor="let name of languageNames">
                {{ name.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rForm.get('name').hasError('required')">El idioma es obligatorio</mat-error>
          </mat-form-field>
          

          <mat-form-field>
              <mat-label>Fecha de obtención del título</mat-label>
              <input matInput
              type="text"
              name="date"
              formControlName="date"
            />
            <mat-error *ngIf="rForm.get('date').hasError('required')">La fecha es obligatoria</mat-error>
        </mat-form-field>


          <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
            Guardar
          </button>
        </form>

      </mat-card>
    </div>
  </div>
</div>