<div class='formulario'>
  <form [formGroup]="personalForm" class='datos-personales'>
    <div class="foto"><img src="assets/{{profile.avatar_hash}}.png" alt="Fotografía estudiante" class="foto"></div>
    <h1>{{profile.name}}</h1>
    <fieldset>
        <ul>
        <li id='nom-apell' class='requerido'>
          <label for='nombre'>Nombre</label>
          <input type='text' name='nomb' value class='medium' id='nombre' [formControl]="name">
          
          <label for='apellidos'>Apellidos</label>
          <input type='text' name='apell' value class='medium' id='apellidos' [formControl]="apellidos">
          <div [hidden]="(name.valid || name.untouched) && (apellidos.valid || apellidos.untouched)">
            Existe un problema con el nombre o los apellidos
          </div>
        </li>
          <li>
            <label for='fecha-nac'>Fecha nacimiento</label>
            <input type='date' name='fecha' value class='medium' id='fecha-nac' step="1" [formControl]="nacimiento">
            <div [hidden]="(nacimiento.valid || nombre.untouched)">
            Existe un problema con la fecha de nacimiento
            </div>

         </li>
          <li>
            <label for='tel1'>Teléfono</label>
            <input type='text' name='tel' value class='medium' id='tel1' [formControl]="telefono1">
            <label for='tel2'>Teléfono 2</label>
            <input type='text' name='tel' value class='medium' id='tel2' [formControl]="telefono2">
            <div [hidden]="(telefono1.valid || telefono1.untouched) && (telefono2.valid || telefono2.untouched)">
            Existe un problema con uno de los dos números de teléfono
            </div>
          </li>
          <li>
          <label for='dni-nif'>DNI/NIF</label>
          <select name='selec-documento' class='medium' id='dni-nif' [formControl]="dninif">
            <option value=''>&nbsp;</option>
            <option value='dni'>NIF/NIE</option>
            <option value='otro'>otro</option>
            <option value='pasaporte'>pasaporte</option>
          </select>
            <label for='num-dni'>Número</label>
            <input type='text' name='num' value class='medium' id='num-dni' [formControl]="dni">
          </li>
          <li>
            <label for='direccion'>Dirección</label>
            <input type='text' name='direcc' value class='medium' id='direccion' [formControl]="direccion">
          </li>
          <li>
            <label for='provincia'>Provincia</label>
            <input type='text' name='prov' value class='medium' id='provincia' [formControl]="provincia">
            <label for='municipio'>Municipio</label>
            <input type='text' name='muni' value class='medium' id='municipio' [formControl]="municipio">
          </li>
          <li>
            <label for='carnet'>Permisos de conducir</label>
            <input type='text' name='carnet' value class='medium' id='conducir' [formControl]="conducir">
          </li>
          <li>
            <label for='resumen'>Sobre mi</label>
            <textarea  name='brevereseña' class='long'  cols='35' rows='5' id='acercade' [formControl]="acercade"></textarea>
          </li>
          <li>
            <label for='resumen2'>Otras competencias</label>
            <textarea  name='brevereseña2' class='long'  cols='35' rows='5' id='competencias' [formControl]="competencias"></textarea>
          </li>

      </ul>
    </fieldset>


    <input type="submit" (click)="putProfile()" value="Guardar" id="submitButton">
  </form>
</div>