<form [formGroup]="loginForm">

  <div class="campos">
    <div class="foto"><img src="assets/uoc-logo.png" alt="Logotipo Centro educativo Univesitat Oberta de Cataluya" class="foto" width="240px"></div>
    <div class="username">

      <label for="username">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

      <input
              type="text"
              name="username"
              id="username"
              [formControl]="username">

      <div [hidden]="username.valid || username.untouched">
        <div>
          The following problems have been found with the email:
        </div>

        <div [hidden]="!username.hasError('email')">
          The email format is not valid.
        </div>
        <div [hidden]="!username.hasError('required')">
          The email is required.
        </div>
      </div>
    </div>

    <div>
      <button (click)="forgot()" [disabled]="!loginForm.valid" class="boton">Recuperar contraseña</button>
    </div>
  </div>
</form>

