<form [formGroup]="loginForm">

  <div class="campos">
    <div class="foto"><img src="assets/uoc-logo.png" alt="Logotipo Centro educativo Univesitat Oberta de Cataluya" class="foto" width="240px"></div>


    <div id="estudiante">
      <button (click)="profile()" class="boton-estudiante">Perfil Estudiante</button>
      <button (click)="personal()" class="boton-estudiante">Editar Datos Personales</button>
      <button (click)="education()" class="boton-estudiante">Editar Formación Académica</button>
      <button (click)="languages()" class="boton-estudiante">Editar Idiomas</button>
    </div>
    <div id="ofertas">
      <button (click)="offers()" class="boton-oferta">Job Offers</button>
      <button (click)="offerDetail()" class="boton-oferta">Detalle Job Offers</button>

    </div>
  </div>
</form>
