.campos{
  text-align:center;

}

.foto{
  margin:15px 0 15px 0;
}


.boton-estudiante{
  padding: 5px;
  margin: 10px 30px;
  font-family:"sans-serif"
}

.boton-oferta{
  padding: 5px;
  margin: 10px 30px;
  font-family:"sans-serif"
}