table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.card {
    width: 100%;
}




#profile{
	width: 100%;
}


#contenido{
	font-size:12px !important;
}

#datosPersonales{
	width:50%;
}
#foto-perfil{
	width:25%;

}

#otra_info{
	padding-left:3em;
	width:25%;
}

#otra_info  div{
	padding-left:1em;
}
h2{
	margin-top:2em;
}

.mat-cell {
    padding: 8px 8px 8px 8px;
  }
  .mat-header-cell {
    padding: 8px 8px 8px 8px;
  }