.campos{
  text-align:center;

}

.foto{
  margin:15px 0 15px 0;
}

.username{
  margin:20px;
  font-family:"sans-serif"
}

.password{
  margin:20px;
  font-family:"sans-serif"
}

.boton{
  padding: 5px;
  margin: 0 30px;
  font-family:"sans-serif"
}